.header {
  background-color: whitesmoke;
  width: auto;
  align-items: left;
  top: 0;
  margin-bottom: 20px;
  position: sticky;
  z-index: 100;
  height: 100px;
  justify-content: space-evenly;
}

.header__logo {
  width: 600px;
  height: 100px;
  margin: 0 10px;
  object-fit: contain;
}

.header__search {
  display: flex;
  flex: 1;
  color: white;
}

.header__searchInput {
  height: 30px;
  width: 200px;
  border-radius: 15px;
  font-size: medium;
  margin-bottom: 10px;
  border: 2px solid;
  border-color: black;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  color: white;
  text-decoration: none;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #00cba8;
}

.header__optionLineOne {
  font-size: 25px;
  font-weight: 800;
  font: #00cba8;
}

.header__optionLineTwo {
  font-size: 20px;
  font: #00cba8;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
